
.image-map{
width:489px;
height:626px;
position:relative;
}
.image-map ul{
margin:0;
padding:0;
list-style:none;
}
.image-map a:link, .image-map a:visited{
position:absolute;
display:block;
width:25px;
height:29px;
color:white;
text-decoration:none;
border:1px solid transparent;
}
.image-map a span{
position:absolute;
text-indent:-1000em;
}

.RI1 a{left:1321;top:560px;}
.RI2 a{left:1337;top:512px;}
.RI3 a{left:617;top:534px;}
.RI4 a{left:493;top:530px;}
.RI5 a{left:340;top:486px;}
.RI6 a{left:573;top:539px;}
.RI7 a{left:279;top:545px;}
.RI8 a{left:405;top:496px;}
.RI9 a{left:427;top:521px;}
.RI10 a{left:451;top:554px;}
.RI11 a{left:623;top:486px;}
.RI12 a{left:290;top:498px;}
.RI13 a{left:194;top:536px;}
.RI14 a{left:643;top:506px;}
.RI15 a{left:238;top:484px;}
.RI16 a{left:360;top:552px;}
.RI17 a{left:595;top:495px;}
.RI18 a{left:253;top:520px;}
.RI19 a{left:485;top:493px;}
.RI20 a{left:528;top:524px;}
.RI21 a{left:515;top:501px;}
.RI22 a{left:332;top:529px;}
.RI23 a{left:671;top:518px;}
.RI24 a{left:375;top:510px;}
.RI25 a{left:315;top:548px;}
.RI26 a{left:470;top:512px;}
.RI27 a{left:549;top:510px;}
.RI28 a{left:407;top:558px;}
.RI29 a{left:299;top:524px;}
.RI30 a{left:1352;top:539px;}
.RI31 a{left:1289;top:532px;}
.RI32 a{left:1279;top:563px;}
.RI33 a{left:1392;top:518px;}
.RI34 a{left:1289;top:490px;}
.RI35 a{left:1244;top:506px;}
.RI36 a{left:1232;top:559px;}
.RI37 a{left:1052;top:538px;}
.RI38 a{left:996;top:538px;}
.RI39 a{left:703;top:533px;}
.RI40 a{left:831;top:506px;}
.RI41 a{left:881;top:504px;}
.RI42 a{left:1187;top:464px;}
.RI43 a{left:710;top:510px;}
.RI44 a{left:1039;top:493px;}
.RI45 a{left:806;top:506px;}
.RI46 a{left:1137;top:489px;}
.RI47 a{left:953;top:521px;}
.RI48 a{left:908;top:557px;}
.RI49 a{left:764;top:503px;}
.RI50 a{left:1084;top:490px;}
.RI51 a{left:1189;top:491px;}
.RI52 a{left:1103;top:541px;}
.RI53 a{left:858;top:522px;}
.RI54 a{left:149;top:558px;}
.RI55 a{left:198;top:489px;}
.RI56 a{left:168;top:437px;}
.RI57 a{left:201;top:456px;}
.RI58 a{left:234;top:450px;}
.RI59 a{left:258;top:470px;}
.RI60 a{left:305;top:444px;}
.RI61 a{left:431;top:483px;}
.RI62 a{left:483;top:470px;}
.RI63 a{left:499;top:461px;}
.RI64 a{left:527;top:471px;}
.RI65 a{left:567;top:460px;}
.RI66 a{left:543;top:456px;}
.RI67 a{left:601;top:446px;}
.RI68 a{left:637;top:461px;}
.RI69 a{left:639;top:427px;}
.RI70 a{left:687;top:453px;}
.RI71 a{left:697;top:480px;}
.RI72 a{left:742;top:459px;}
.RI73 a{left:740;top:490px;}
.RI74 a{left:780;top:456px;}
.RI75 a{left:884;top:466px;}
.RI76 a{left:938;top:472px;}
.RI77 a{left:381;top:467px;}
.RI78 a{left:183;top:505px;}
.RI79 a{left:154;top:515px;}

.RI80 a{left:1356;top:459px;}
.RI81 a{left:1247;top:474px;}
.RI82 a{left:1213;top:467px;}
.RI83 a{left:856;top:439px;}
.RI84 a{left:809;top:429px;}
.RI85 a{left:1267;top:487px;}
.RI86 a{left:761;top:449px;}
.RI87 a{left:931;top:446px;}
.RI88 a{left:1293;top:462px;}
.RI89 a{left:893;top:426px;}
.RI90 a{left:1066;top:424px;}
.RI91 a{left:1037;top:444px;}
.RI92 a{left:962;top:490px;}
.RI93 a{left:1342;top:435px;}
.RI94 a{left:1319;top:460px;}
.RI95 a{left:1156;top:463px;}
.RI96 a{left:1015;top:470px;}
.RI97 a{left:1223;top:532px;}
.RI98 a{left:1061;top:477px;}
.RI99 a{left:1270;top:444px;}

.RI100 a{left:82;top:252px;}
.RI101 a{left:1122;top:475px;}
.RI102 a{left:1184;top:532px;}
.RI103 a{left:981;top:454px;}
.RI104 a{left:305;top:417px;}
.RI105 a{left:233;top:432px;}
.RI106 a{left:503;top:404px;}
.RI107 a{left:186;top:410px;}
.RI108 a{left:552;top:424px;}
.RI109 a{left:612;top:422px;}
.RI110 a{left:414;top:409px;}
.RI111 a{left:576;top:429px;}
.RI112 a{left:279;top:388px;}
.RI113 a{left:525;top:432px;}
.RI114 a{left:493;top:430px;}
.RI115 a{left:187;top:440px;}
.RI116 a{left:335;top:397px;}
.RI117 a{left:222;top:406px;}
.RI118 a{left:460;top:411px;}
.RI119 a{left:385;top:386px;}
.RI120 a{left:381;top:419px;}
.RI121 a{left:289;top:429px;}
.RI122 a{left:331;top:434px;}
.RI123 a{left:266;top:413px;}
.RI124 a{left:362;top:431px;}
.RI125 a{left:216;top:436px;}
.RI126 a{left:439;top:434px;}
.RI127 a{left:386;top:445px;}
.RI128 a{left:912;top:398px;}
.RI129 a{left:858;top:402px;}
.RI130 a{left:794;top:403px;}
.RI131 a{left:1024;top:402px;}
.RI132 a{left:941;top:394px;}
.RI133 a{left:727;top:392px;}
.RI134 a{left:738;top:421px;}
.RI135 a{left:695;top:426px;}
.RI136 a{left:994;top:418px;}
.RI137 a{left:788;top:427px;}
.RI138 a{left:597;top:400px;}
.RI139 a{left:1044;top:413px;}
.RI140 a{left:956;top:417px;}
.RI141 a{left:879;top:421px;}
.RI142 a{left:834;top:423px;}
.RI143 a{left:974;top:422px;}
.RI144 a{left:1016;top:426px;}
.RI145 a{left:717;top:425px;}
.RI146 a{left:664;top:389px;}
.RI147 a{left:1262;top:409px;}
.RI148 a{left:1223;top:408px;}
.RI149 a{left:1243;top:429px;}
.RI150 a{left:1159;top:429px;}
.RI151 a{left:1211;top:433px;}
.RI152 a{left:1106;top:476px;}
.RI153 a{left:1118;top:448px;}
.RI154 a{left:1111;top:418px;}
.RI155 a{left:1137;top:386px;}
.RI156 a{left:1081;top:401px;}
.RI157 a{left:1177;top:394px;}
.RI158 a{left:1321;top:418px;}
.RI159 a{left:1343;top:407px;}
.RI160 a{left:1278;top:424px;}
.RI161 a{left:233;top:330px;}
.RI162 a{left:937;top:357px;}
.RI163 a{left:889;top:364px;}
.RI164 a{left:782;top:357px;}
.RI165 a{left:733;top:365px;}
.RI166 a{left:649;top:344px;}
.RI167 a{left:341;top:353px;}
.RI168 a{left:698;top:394px;}
.RI169 a{left:190;top:362px;}
.RI170 a{left:130;top:373px;}
.RI171 a{left:165;top:378px;}
.RI172 a{left:215;top:379px;}
.RI173 a{left:250;top:379px;}
.RI174 a{left:292;top:390px;}
.RI175 a{left:315;top:384px;}
.RI176 a{left:361;top:387px;}
.RI177 a{left:416;top:367px;}
.RI178 a{left:457;top:353px;}
.RI179 a{left:484;top:365px;}

.RI180 a{left:525;top:364px;}
.RI181 a{left:555;top:366px;}
.RI182 a{left:574;top:383px;}
.RI183 a{left:603;top:362px;}
.RI184 a{left:630;top:376px;}
.RI185 a{left:679;top:369px;}
.RI186 a{left:836;top:371px;}
.RI187 a{left:824;top:395px;}
.RI188 a{left:758;top:386px;}
.RI189 a{left:530;top:398px;}
.RI190 a{left:475;top:397px;}
.RI191 a{left:438;top:401px;}
.RI192 a{left:131;top:332px;}
.RI193 a{left:163;top:334px;}
.RI194 a{left:179;top:316px;}
.RI195 a{left:257;top:320px;}
.RI196 a{left:336;top:316px;}
.RI197 a{left:448;top:320px;}
.RI198 a{left:480;top:331px;}
.RI199 a{left:517;top:309px;}

.RI200 a{left:582;top:339px;}
.RI201 a{left:558;top:339px;}
.RI202 a{left:401px;top:326px;}
.RI203 a{left:375px;top:333px;}
.RI204 a{left:313px;top:349px;}
.RI205 a{left:287px;top:329px;}
.RI206 a{left:269px;top:356px;}
.RI207 a{left:230px;top:361px;}
.RI208 a{left:389px;top:371px;}
.RI209 a{left:431px;top:358px;}
.RI210 a{left:1104px;top:361px;}
.RI211 a{left:1004px;top:380px;}
.RI212 a{left:1287px;top:365px;}
.RI213 a{left:1202px;top:361px;}
.RI214 a{left:1059px;top:343px;}
.RI215 a{left:1328px;top:356px;}
.RI216 a{left:1224px;top:345px;}
.RI217 a{left:1276px;top:365px;}
.RI218 a{left:1149;top:365px;}
.RI219 a{left:984;top:363px;}
.RI220 a{left:1016;top:367px;}
.RI221 a{left:1330;top:386px;}
.RI222 a{left:966;top:344px;}
.RI223 a{left:1044;top:377px;}
.RI224 a{left:1063;top:372px;}
.RI225 a{left:1080;top:371px;}
.RI226 a{left:1203;top:390px;}
.RI227 a{left:1252;top:357px;}
.RI228 a{left:1115;top:338px;}
.RI229 a{left:1323;top:332px;}
.RI230 a{left:1110;top:387px;}
.RI231 a{left:1247;top:379px;}
.RI232 a{left:1270;top:332px;}
.RI233 a{left:1171;top:361px;}
.RI234 a{left:1161;top:392px;}
.RI235 a{left:1298;top:394px;}
.RI236 a{left:621;top:314px;}
.RI237 a{left:682;top:320px;}
.RI238 a{left:737;top:313px;}
.RI239 a{left:776;top:322px;}
.RI240 a{left:830;top:327px;}
.RI241 a{left:870;top:328px;}
.RI242 a{left:882;top:339px;}
.RI243 a{left:914;top:320px;}
.RI244 a{left:945;top:336px;}
.RI245 a{left:861;top:354px;}
.RI246 a{left:840;top:348px;}
.RI247 a{left:800;top:340px;}
.RI248 a{left:764;top:350px;}
.RI249 a{left:747;top:346px;}
.RI250 a{left:716;top:340px;}
.RI251 a{left:697;top:345px;}
.RI252 a{left:663;top:340px;}
.RI253 a{left:820;top:359px;}
.RI254 a{left:906;top:348px;}
.RI255 a{left:866;top:300px;}
.RI256 a{left:904;top:277px;}
.RI257 a{left:934;top:309px;}
.RI258 a{left:959;top:283px;}
.RI259 a{left:966;top:314px;}
.RI260 a{left:986;top:304px;}
.RI261 a{left:1000;top:334px;}
.RI262 a{left:1004px;top:386px;}
.RI263 a{left:1023px;top:322px;}
.RI264 a{left:1040px;top:298px;}
.RI265 a{left:1060px;top:313px;}
.RI266 a{left:1065px;top:284px;}
.RI267 a{left:1088px;top:300px;}
.RI268 a{left:1097px;top:325px;}
.RI269 a{left:1142px;top:293px;}
.RI270 a{left:1116px;top:281px;}
.RI271 a{left:1149px;top:326px;}
.RI272 a{left:1172px;top:327px;}
.RI273 a{left:1185px;top:316px;}
.RI274 a{left:1204px;top:330px;}
.RI275 a{left:1225px;top:304px;}
.RI276 a{left:1246px;top:320px;}
.RI277 a{left:1270px;top:305px;}
.RI278 a{left:1311px;top:302px;}
.RI279 a{left:1239px;top:278px;}

.RI280 a{left:1184px;top:278px;}
.RI281 a{left:1290px;top:287px;}



.RI282 a{left:1315px;top:322px;}




.RI283 a{left:181px;top:584px;}
.RI284 a{left:223px;top:600px;}
.RI285 a{left:280px;top:594px;}
.RI286 a{left:343px;top:591px;}
.RI287 a{left:391px;top:591px;}
.RI288 a{left:444px;top:589px;}

.RI289 a{left:488px;top:596px;}
.RI290 a{left:543px;top:598px;}
.RI291 a{left:594px;top:592px;}
.RI292 a{left:650px;top:588px;}
.RI293 a{left:699px;top:582px;}
.RI294 a{left:750px;top:579px;}
.RI295 a{left:796px;top:583px;}
.RI296 a{left:841px;top:588px;}
.RI297 a{left:891px;top:580px;}
.RI298 a{left:945px;top:589px;}
.RI299 a{left:997px;top:590px;}
	
.RI300 a{left:1038;top:588px;}

.RI301 a{left:1082;top:587px;}
.RI302 a{left:1130;top:592px;}
.RI303 a{left:1184;top:600px;}
.RI304 a{left:1232;top:593px;}
.RI305 a{left:1289;top:592px;}
.RI306 a{left:1346;top:595px;}
.RI307 a{left:1405;top:592px;}
.RI308 a{left:517;top:256px;}
.RI309 a{left:555;top:245px;}
.RI310 a{left:574;top:261px;}
.RI311 a{left:608;top:245px;}
.RI312 a{left:630;top:264px;}
.RI313 a{left:647;top:241px;}
.RI314 a{left:704;top:237px;}
.RI315 a{left:749;top:236px;}
.RI316 a{left:798;top:229px;}
.RI317 a{left:844;top:226px;}
.RI318 a{left:893;top:240px;}
.RI319 a{left:939;top:229px;}
.RI320 a{left:995;top:226px;}
.RI321 a{left:1049;top:228px;}
.RI322 a{left:1109;top:237px;}
.RI323 a{left:1164;top:230px;}
.RI324 a{left:1214;top:240px;}
.RI325 a{left:857;top:263px;}
.RI326 a{left:805;top:269px;}
.RI327 a{left:689;top:273px;}
.RI328 a{left:344;top:452px;}
.RI329 a{left:1431;top:533px;}
.RI330 a{left:1375;top:552px;}
.RI331 a{left:1190;top:561px;}
.RI332 a{left:862;top:484px;}
.RI333 a{left:956;top:552px;}
.RI334 a{left:1013;top:496px;}
.RI335 a{left:218;top:522px;}
.RI336 a{left:708;top:540px;}
.RI337 a{left:238;top:547px;}
.RI338 a{left:1077;top:530px;}
.RI339 a{left:923;top:510px;}
.RI340 a{left:448;top:464px;}
.RI341 a{left:410;top:467px;}
.RI342 a{left:273;top:438px;}
.RI343 a{left:378;top:482px;}
.RI344 a{left:306;top:472px;}
.RI345 a{left:1140;top:515px;}
.RI346 a{left:772;top:528px;}
.RI347 a{left:838;top:455px;}
.RI348 a{left:796;top:477px;}
.RI349 a{left:1369;top:489px;}
.RI350 a{left:353;top:258px;}
.RI351 a{left:432;top:284px;}
.RI352 a{left:383;top:277px;}
.RI353 a{left:731;top:288px;}
.RI354 a{left:358;top:297px;}
.RI355 a{left:645;top:300px;}
.RI356 a{left:125;top:299px;}
.RI357 a{left:219;top:297px;}
.RI358 a{left:777;top:294px;}
.RI359 a{left:308;top:302px;}
.RI360 a{left:755;top:267px;}
.RI361 a{left:815;top:307px;}
.RI362 a{left:300;top:286px;}
.RI363 a{left:275;top:304px;}
.RI364 a{left:160;top:301px;}
.RI365 a{left:576;top:314px;}
.RI366 a{left:490;top:308px;}
.RI367 a{left:534;top:319px;}
.RI368 a{left:330;top:292px;}
.RI369 a{left:691;top:301px;}
.RI370 a{left:396;top:292px;}
.RI371 a{left:426;top:311px;}
.RI372 a{left:480;top:276px;}
.RI373 a{left:537;top:268px;}
.RI374 a{left:603;top:308px;}
.RI375 a{left:122;top:416px;}
.RI376 a{left:244;top:264px;}
.RI377 a{left:92;top:429px;}
.RI378 a{left:1312;top:285px;}
.RI379 a{left:188;top:261px;}

.RI380 a{left:1415;top:265px;}



.RI381 a{left:131;top:268px;}




.RI382 a{left:156;top:264px;}
.RI383 a{left:37;top:358px;}
.RI384 a{left:1398;top:267px;}
.RI385 a{left:1347;top:264px;}
.RI386 a{left:1333;top:278px;}
.RI387 a{left:179;top:292px;}
.RI388 a{left:407;top:254px;}
.RI389 a{left:64;top:298px;}
.RI390 a{left:39;top:285px;}
.RI391 a{left:451;top:262px;}
.RI392 a{left:124;top:273px;}
.RI393 a{left:1352;top:293px;}
.RI394 a{left:1269;top:268px;}
.RI395 a{left:206;top:264px;}
.RI396 a{left:278;top:265px;}
.RI397 a{left:60;top:396px;}
.RI398 a{left:56;top:505px;}
.RI399 a{left:1381;top:277px;}

.RI401 a{left:107;top:376px;}
.RI402 a{left:299;top:256px;}
.RI403 a{left:226;top:264px;}
.RI404 a{left:318;top:262px;}
.RI405 a{left:1451;top:274px;}
.RI406 a{left:377;top:251px;}
.RI407 a{left:62;top:364px;}
.RI408 a{left:93;top:526px;}
.RI409 a{left:37;top:531px;}

.RI411 a{left:258;top:282px;}
.RI412 a{left:1400;top:295px;}
.RI413 a{left:64;top:338px;}
.RI414 a{left:202;top:322px;}
.RI415 a{left:202;top:322px;}
.RI416 a{left:619;top:349px;}
.RI417 a{left:655;top:411px;}

.image-map a:hover span{
display:block;
width:6.8em;
top:1.35em;
text-indent:1;
text-align:left;
background: rgba(0, 0, 0, 0.4); 
    color: #fff; 
padding: 0.15em 0.5em;
margin-left:-3.5em;
}
.image-map a:hover {
border:1px solid black;
}